<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/home/home.css">
	<link rel="stylesheet" href="css/board/forumList.css">
	
 <script type="text/javascript" src="js/common/htmlComRender.js"></script>
</head>
<body>
	 <!-- Header -->
  <div id="header-container"></div>
	
	<div class="board-container">
		<h1>게시판</h1>
	  <table class="board-table">
	  	<thead>
	  		<tr>
	  			<td>번호</td>
	  			<td>제목</td>
	  			<td>작성자</td>
	  			<td>작성일</td>
	  			<td>조회수</td>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		<tr>
	  			<td>1</td>
	  			<td>첫번재 글이에요</td>
	  			<td>user01</td>
	  			<td>20240905</td>
	  			<td>10</td>
	  		</tr>
	  		<tr>
	  			<td>@</td>
	  			<td>두번재 글이에요</td>
	  			<td>user02</td>
	  			<td>20240905</td>
	  			<td>20</td>
	  		</tr>
	  	</tbody>
	  </table>
	  <div class="pagination-container">
	    <div class="pagination">
	      <a href="#">&laquo; 이전</a>
	      <a href="#">1</a>
	      <a href="#">2</a>
	      <a href="#">3</a>
	      <a href="#">다음 &raquo;</a>
	    </div>
	    <div class="board-actions">
	      <a href="forum"><button>새 글 작성</button></a>
	    </div>
 	 </div>
  
	</div>
	<div>
		<a href="home"><button>홈으로</button></a>
	</div>
	
	<!-- Footer -->
  <div id="footer-container"></div>
</body>
</html>